<table class="table" id="cart">
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>

  <%= render(cart.line_items.order('id')) %>

  <tr class="font-weight-bold">
    <td></td>
    <td></td>
    <td>Total</td>
    <td id="total_price"><%= number_to_currency(cart.total_price) %></td>
    <td></td>
  </tr>
  </tbody>
</table>
